.aboutUs {
    padding: 3rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aboutUs__title {
    font-size: 64px;
    font-weight: 700;
}

.aboutUs__description {
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    color: var(--fonte-color-secundaria);
    margin: 2.7rem 0 8rem 0;
}

.aboutUs__button {
    padding: 1.3rem 5rem;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
    background-color: var(--roxo);
    border-radius: 18px;
}

/*======Priority======*/

.priority {
    padding: 7rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.priority__container {
    margin-right: 6.5em;
}

.priority__title {
    font-size: 48px;
    font-weight: 700;
}

.priority__description {
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    color: var(--fonte-color-secundaria);
    margin: 2.7rem 0 6rem 0;
}

.priority__button {
    padding: 1.3rem 2.8rem;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
    background-color: var(--roxo);
    border-radius: 18px;
}

/*======Safety======*/

.safety {
    padding: 0 4rem;
    margin: 3rem 0;
}

.safety__container {
    text-align: center;
    background-image: url("/assets/Img/about/Rectangle\ 13.png");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 4rem;
}

.safety__title {
    padding-top: 9rem;
}

.safety__subtitle {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 2.2rem;
    margin-top: 0.5rem;
}

.safety__description{
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 4.7rem;

}

.safety__video {
    border-radius: 32px;
    cursor: pointer;
}