/*======header======*/

.header {
    display: flex;
    padding: 3em 5em;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
}

.navbar__list {
    display: flex;
    gap: 3.5em;
}

.navbar__list-link {
    font-weight: 700;
    color: var(--fonte-color);
    text-decoration: none;
}

.navbar__list-link:hover {
    text-decoration: underline;
}

.header__button {
    font-weight: 400;
    color: var(--branco);
    text-decoration: none;
    padding: 1.2em;
    border-radius: 12px;
    background-color: var(--roxo);
}

/*======main banner======*/

.banner {
    padding: 0 2em 2em 2em;
}

.banner__img-wrap {
    background-image: url(/assets/Img/home/banner.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 10em;
}

.banner__title {
    font-size: 64px;
    font-weight: 700;
    padding: 2.5em 1em 0 1.5em;
}

.banner__description {
    font-size: 18px;
    line-height: 28px;
    padding: 2.7em 0 5em 5.6em;
}

.banner__contact {
    display: flex;
    align-items: center;
    padding: 0 7em;
}

.banner__button {
    color: var(--branco);
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    padding: 1.4em;
    background-color: var(--roxo);
    border-radius: 16px;
}

.banner__button:hover {
    padding: 1.5em;
    font-size: 15px;
}

.banner__contact-img {
    margin-left: 3.5em;
    margin-right: 1em;
    cursor: pointer;
    border-radius: 15px;
}

.banner__contact-img:hover {
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.banner__contact--desc {
    font-size: 13px;
    font-weight: 700;
    color: var(--roxo);
    padding-bottom: 0.8em;
}

.banner__contact--number {
    font-size: 15px;
    font-weight: 700;
}

.banner__sub {
    text-align: center;
}

.banner__subtitle {
    font-size: 36px;
    font-weight: 500;
    padding-top: 3em;
    padding-bottom: 0.5em;
    line-height: 200%;
}

/*======Services======*/

.services {
    padding: 3em 5em;
}

.section__title {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--roxo);
    padding: 2em 0;
}

.services__subtitle--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7em;
}

.services__subtitle {
    font-size: 48px;
    font-weight: 700;
}

.services__description {
    font-size: 16px;
    line-height: 156%;
    padding-right: 3em;
}

.services__list {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.services__list--item {
    text-align: center;
    border-radius: 35px;
    border: 1px solid #DBDEFA;
    padding: 1em;
    margin-bottom: 6em;
    cursor: pointer;
}

.services__list--item:hover {
    border: none;
    box-shadow: 0px 64px 96px rgba(24, 25, 69, 0.05);
}

.list__img--container {
    padding: 4.5em 3em;
    border-radius: 35px;
}

.dentures {
    background-color: var(--azul-claro);
}

.implants {
    background-color: var(--roxo-secundario);
}

.whitening {
    background-color: var(--lilas);
}

.rootcanal {
    background-color: var(--rosa);
}

.list__item--title {
    font-size: 20px;
    font-weight: 700;
    padding: 1.5em 1em 1em 1em;
}

.list__item--description {
    font-size: 16px;
    font-weight: 400;
    line-height: 162%;
    padding-bottom: 1em; 
    margin: 0 0.5em 0.5em 0.5em;
}

.services__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
    margin: 1em 35em;
    border-radius: 12px;
    background-color: rgb(88, 63, 188, 0.1);
    font-size: 15px;
    font-weight: 700;
    color: var(--roxo);
    text-decoration: none;
}

.services__button:hover {
    text-decoration: underline;
}

/*======Dental 24H Emergency======*/

.dental24h {
    display: flex;
    padding: 5.5em;
    margin: 4em 0;
}

.dental24__img--container {
    background-image: url("/assets/Img/home/Rectangle 12.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    padding: 4.5em 4em;
}

.dental24__container {
    padding-top: 2.7em;
    padding-left: 3em;
}

.dental24h__subtitle {
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    padding-bottom: 0.7em;
}

.dental24h__description {
    font-size: 16px;
    line-height: 156%;
    padding-bottom: 6em;
    font-weight: 500;
}

.dental24h__button {
    margin-top: 2em;
    color: var(--branco);
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    padding: 1.3em;
    background-color: var(--roxo);
    border-radius: 16px;
}

/*======features======*/

.features {
    padding: 2em;
}

.features__container {
    background-color: var(--roxo-secundario);
    padding: 2.7em 1em 4.7em 1em;
    border-radius: 48px;
}

.features__container--title {
    padding-top: 4.7em;
    display: grid;
    justify-content: center;
}

.features__subtitle {
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 0.7em;
}

.features__description {
    line-height: 28px;
    padding-bottom: 4em;
    font-size: 18px;
}

.features__list {
    display: flex;
    justify-content: center;
    gap: 9em;
    padding-top: 1em;
    padding-bottom: 4em;
}

.features__list--item {
    display: flex;
    align-items: center;
}

.features__list--img {
    cursor: pointer;
    border-radius: 13px;
}

.features__list--img:hover {
    box-shadow: 1px 4px 4px 0px rgb(88, 63, 188, 0.4);
}

.features__list--wrap {
    padding-left: 1.4em;
}

.features__item-title {
    font-size: 19px;
    font-weight: 700;
    padding-bottom: 0.7em;
}

.features__item-desc {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}