@import url("../CSS/styles/main.css");

:root {
    --fonte-principal: 'inter';
    --fonte-color: #181945;
    --branco: #FFF;
    --roxo: #583FBC;
    --roxo-secundario: #DBDEFA;
    --azul-claro: #D9EBFA;
    --lilas: #F6DBFA;
    --rosa: #FADBE2;
}

body {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    color: var(--fonte-color);
    background-color: var(--branco);
}